.post-1 {
  background: #9d27b0;
}
.post-2 {
  background: #9bb800;
}
.post-3 {
  background: #ed5120;
}
.post-4 {
  background: #9d27b0;
}
.post-5 {
  background: #2d95bb;
}
body {
  font-family: roboto;
  background-color: #0b192f;
}

.page-container {
  margin: auto;
  width: 80%;
}

.to-bottom {
  margin-bottom: 10px;
}

.burger-menu {
  display: none;
  color: #fff;
  font-size: 35px;
}

h1,
.header h2, 
.menu-elem,
.post-zero-wrap p,
.copyright p,
.design p {
  color: #fff;
  font-weight: 100;
}

.header-wrap {
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #024161;
}

.logo-blog h2 {
  font-size: 2em;
}

.logo-blog h2 span {
  color: #9d27b0;
}

.menu {
  display: flex;
  padding: 0;
  width: 38%;
}

.menu-elem {
  width: 20%;
  display: flex;
  justify-content: center;
}

.menu .menu-elem a {
  color: #ffffff;
  height: 100px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu .menu-elem:hover {
  background-color: #1f52a4;
  cursor: pointer;
}

.post-zero {
  display: flex;
  align-items: flex-end;
  background: url(../img/post0.jpg) bottom no-repeat;
  background-size: cover;  
  height: 278px;
}

.post-zero-wrap {
  padding: 70px 345px 20px 45px;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

p {
  line-height: 1.5;
}

.post-zero-wrap p
 {
  font-size: 14px;
}

footer {
  background-color: #024161;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright p,
.design p {
  opacity: 0.5;
  margin: 0;
}

@media screen and (max-width: 768px) {
  h1 {
    margin: 0;
  }

  .header-container {
    width: 100%;
  }

  .menu {
    display: none;
  }

  .header-wrap {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .burger-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5px;
  }

  .logo-blog {
    text-align: center;
  }

  .post-zero {
    padding: 20px 5px 0 5px;
  }

  .post-zero-wrap {
    width: 100%;
    padding: 0 5% 5% 5%;
  }

  h1 {
    font-size: 3em;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  .copyright p,
  .desigh p {
    margin: 0;
    font-size: 14px;
  }

}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 2.5em;
  }

  footer {
    padding: 70px;
    margin-top: 20px;
  }

  .copyright p,
  .desigh p {
    font-size: 14px;
  }
}