// Write your styles here
* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

@mixin buttons {
  float: left;
    border: none;
    color: lightskyblue;
    background-color: green;
    border-radius: 3px;
    
    padding: 15px 25px;  
}

@mixin links {
  color: white;
  padding-left: 150px;
  font-weight: bold;
}

.header {
  background-image: url(/homework/img/m-h-day.jpg);
  background-attachment: fixed;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 40%;
  width: 1920px;
  height: 720px;
  color: #2c2f3c
}

// div .section_card_img {
//    border-bottom-right-radius: 50em 17em;
//    width: 850px;
// }
body {
  width: 1920px;
}

.header-wrap {
  a {
    @include links;
  }

  .header_button {
    @include buttons;
  }

  padding: 20px 0px 0px 120px;
  width: 600px;
}

.landing-logo {
    display: flex;

    img {
        height: 50px;
        width: 50px;
    }

    p {
        font-size: 25px;
        font-weight: bold;
        padding: 0px 0px 0px 20px;
    }

    span {
        display: block;
        font-size: 10px;
        text-align: center;
    }
}

.header_heading {
    font-size: 80px;
    line-height: 1;
    font-weight: bold;
    padding-top: 85px;
}