* {
  margin: 0;
  padding: 0;
  font-family: $fontFamilySans;
}

@mixin buttons {
  border: none;
  color: white;
  background-color: $btnBgColor;
  border-radius: 3px;
  width: 150px;
  height: 50px;
}

@mixin sectionLinks {
  color: white;
  display: block;
  text-align: center;
  line-height: 1.5;
  padding: 40px 0 0 0;
}

@mixin forLogin {
  color: white;
  padding-left: 150px;
  font-weight: bold;
}

$map: (
  awesome: "awesome",
  adventure: "adventure",
  start: "start"
);

.landing-logo {
  display: flex;
  align-items: center;
  color: $headerHeadingColor;

  img {
    height: 50px;
    width: 50px;
  }

  p {
    font-family: $fontFamilyHind;
    font-size: 25px;
    font-weight: bold;
    padding: 0 0 0 15px;
  }

  span {
    display: block;
    font-size: 10px;
    text-align: center;
  }
}

body {
  width: $widthPage;
  background-color: $bGColor;

  .header {
    background-image: $headerImg;
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 50em 20em;
    width: $widthPage;
    height: 655px;

    .header-wrap {
      padding: 20px 0px 0px 150px;
      width: 630px;

      .header_heading {
        font-size: 80px;
        line-height: 1;
        font-weight: bold;
        padding: 85px 0 0 0;
        color: $headerHeadingColor;

        &::before {
          content: map-get($map, awesome);
          background-color: $bgColorBefore;
          color: $colorBefore;
          position: absolute;
          top: 234px;
          left: 150px;
          line-height: 1em;
        }
      }

      .header_text {
        padding: 45px 0 68px 0;
        line-height: 1.5;
        white-space: pre-line;
        color: $headerHeadingColor;
      }

      .header_heading p {
        position: relative;
      }

      .login {
        @include forLogin;
      }

      .header_button {
        @include buttons;
        float: left;
        padding: 15px 25px;
      }
    }
  }

  .section {
    .section_text {
      font-weight: bold;
      font-size: 50px;
      color: $colorSectionText;
      padding: 50px 0 0 0;
      text-align: center;
      position: relative;

      &::before {
        content: map-get($map, adventure);
        background-color: $bgColorBefore;
        color: $colorBefore;
        position: absolute;
        top: 58px;
        left: 970px;
        line-height: 1em;
      }
    }

    .section_card {
      display: flex;
      background-color: $sectionCardColor;
      margin: 20px auto;
      width: 1110px;
      height: 330px;
      border-radius: 5px;

      img {
        width: 430px;
        height: 280px;
        margin-left: 20px;
        align-self: center;
        border-radius: 5px;
      }

      .section_card_right_container {
        width: 500px;
        padding: 0 90px 0 90px;

        .section_card_heading {
          color: white;
          font-weight: bold;
          font-size: 20px;
          padding: 65px 0 0 0;
          text-align: center;
        }

        .section_card_text {
          color: white;
          white-space: normal;
          padding-top: 40px;
          line-height: 1.5;
        }

        .section_link {
          @include sectionLinks;
        }
      }
    }
  }

  .section_banner {
    background-image: $linGrColor;
    width: 1200px;
    display: flex;
    margin: 125px 355px -70px 362px;
    height: 150px;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    color: #21232e;

    .section_banner_text_wrap {
      padding-top: 20px;
      padding-left: 160px;

      .section_banner_heading {
        font-size: 30px;
        font-weight: bold;
        color: $headerHeadingColor;
        position: relative;

        &::before {
          content: map-get($map, start);
          background-color: $bgColorBefore;
          color: $colorBefore;
          position: absolute;
          top: 4px;
          left: 122px;
          line-height: 1em;
        }
      }

      .section_banner_text {
        padding-top: 15px;
        color: white;
      }
    }

    .section_banner_button {
      @include buttons;
      position: relative;
      margin: 50px 0 0 330px;
    }
  }

  .footer-wrap {
    font-family: $fontFamilyHind;
    background-color: $footerBgColor;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: $widthPage;
    height: 240px;
    color: white;
    padding-top: 35px;

    .footer_logo {
      @extend .landing-logo;
      color: white;
    }

    .footer_text {
      width: 350px;
    }
  }
}
