$fontFamilySans: 'Source Sans Pro', sans-serif;
$fontFamilyFresca: 'Fresca', sans-serif;
$fontFamilyHind: 'Hind', sans-serif;
$header-img: url(/homework/img/m-h-day.jpg);
$widthPage: 1920px;
$bGColor: white;
$bgColorBefore: #14A0C7;
$colorBefore: #21232e;
$btnBgColor: #699900;
$linGrColor: linear-gradient(to right, #62911b 0%, #3160c6 100%);
$colorSectionText: black;
$sectionCardColor: #21232e;
$headerHeadingColor: #21232e;
$footerBgColor: #21232e;