$fontFamilySans: 'Source Sans Pro', sans-serif;
$fontFamilyFresca: 'Fresca', sans-serif;
$fontFamilyHind: 'Hind', sans-serif;
$header-img: url(/homework/img/m-h-day.jpg);
$widthPage: 1920px;
$bgColorBefore: #30d5c8;
$btnBgColor: green;
$linGrColor: linear-gradient(to right, #62911b 0%, #3160c6 100%);