$fontFamilySans: 'Source Sans Pro', sans-serif;
$fontFamilyFresca: 'Fresca', sans-serif;
$fontFamilyHind: 'Hind', sans-serif;
$header-img: url(/homework/img/m-h-night.jpg);
$widthPage: 1920px;
$bgColorBefore: #FF4E33;
$btnBgColor: #E3AC00;
$linGrColor: linear-gradient(to right, #e3ac00 0%, #ff4e33 100%);
